PONDER_RPC_URL_1=
PONDER_WSS_URL_1=wss://eth.drpc.org,wss://mainnet.gateway.tenderly.co
PONDER_RATELIMIT_RPC_URL_1=https://api.zan.top/eth-mainnet,https://eth.llamarpc.com,https://gateway.tenderly.co/public/mainnet,https://ethereum.blockpi.network/v1/rpc/public,https://eth-mainnet.public.blastapi.io
PONDER_START_BLOCK_1=22133577
PONDER_RPC_URL_11155111=
PONDER_WSS_URL_11155111=wss://ethereum-sepolia-rpc.publicnode.com
PONDER_RATELIMIT_RPC_URL_11155111=https://api.zan.top/eth-sepolia,https://sepolia.drpc.org,https://ethereum-sepolia-rpc.publicnode.com
PONDER_START_BLOCK_11155111=7985396
PONDER_RPC_URL_97=
PONDER_WSS_URL_97=wss://bsc-testnet-rpc.publicnode.com
PONDER_RATELIMIT_RPC_URL_97=https://api.zan.top/bsc-testnet,https://data-seed-prebsc-2-s2.bnbchain.org:8545,https://data-seed-prebsc-2-s1.bnbchain.org:8545
PONDER_START_BLOCK_97=49431538
# DATABASE_SCHEMA=public

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/test_ponder
DATABASE_SSL=false
DATABASE_MAX_CONNECTION=5

